root{
	--interval = 2s
}

body{
background: #92d192; /* Old browsers */
background: -moz-linear-gradient(-45deg, #92d192 0%, #607e9e 100%);
background: -webkit-linear-gradient(-45deg, #92d192 0%,#607e9e 100%); 
background: linear-gradient(135deg, #92d192 0%,#607e9e 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#92d192', endColorstr='#607e9e',GradientType=1 ); 
}

.container{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.anifont{
	position: absolute;
	top: 30px;
	left: 30px;
	text-align: center;
	background: #39A;
	height: 200px;
	width: 300px;
}

.p1 {
	animation: dash 3s ease-in-out;	
}
.p2 {
/*	animation: dash2 2s ease-in-out alternate infinite;*/
	animation: dash2 2s ease-in-out;
	animation-fill-mode: forwards;
}
.p3 {
/*	animation: dash2 2s ease-in-out alternate infinite;*/
	animation: dash3 2s ease-in-out;
	animation-delay: 1s;
	animation-fill-mode: forwards;
}
.p4 {
/*	animation: dash2 2s ease-in-out alternate infinite;*/
	animation: dash4 2s ease-in-out;
	animation-delay: 1.5s;
	animation-fill-mode: forwards;
}
.p5 {
/*	animation: dash2 2s ease-in-out alternate infinite;*/
	animation: dash5 2s ease-in-out;
	animation-delay: 2s;
	animation-fill-mode: forwards;
}


@keyframes dash {
	from {
		stroke-dashoffset: 346;
	}
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes dash2 {
	from {
		stroke-dashoffset: 308;
	}
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes dash3 {
	from {
		stroke-dashoffset: 201;
	}
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes dash4 {
	from {
		stroke-dashoffset: 201;
	}
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes dash5 {
	from {
		stroke-dashoffset: 258;
	}
	to {
		stroke-dashoffset: 0;
	}
}



.insta,
.twit{
	position: absolute;
	bottom: 0;
	font-size: 25px;
	margin: 10px;
	cursor: pointer;
	color: #000;
}
.twit{
	right: 0;
}